*{
    box-sizing: border-box;
    font-size: 15px;
    font-weight: 500;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    margin: 0;
    overflow: hidden;
}

.container {
    height: 100vh;

}

.title-bar {
    height: 5vh;
    background-color: #107c41;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    color: #dcdcdc;
}

.menu-bar {
    height: 5vh;
    background-color: #4b946c;
    display: flex;
}

.menu-item {
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #dcdcdc;
    font-size: 17px;
}

.menu-item.selected {
    color: #107c41;
    background-color: #fff;
}

.menu-item:hover {
    cursor: default;
}

.menu-item:not(.selected):hover {
  background-color: #107c41;
  cursor: pointer;
}

.menu-icon-bar {
    height: 6px;
}

.formula-bar {
    height: 5vh;
}

.data-container {
    height: 75vh;
}

.sheet-bar {
    height: 4vh;
}